*{
	margin: 0;
	padding: 0;
	border: nome;
	list-style: nome;
	text-decoration: none;
	box-sizing:border-box;
	font-family: "arial";
}

p {
	margin: 10px 10px 10px 0;
}

body {
	background-color: #EBEFF2;

}

header {
	background-color: #465A65;
	position: fixed;
	width: 100%;
	height: 15%;
}

header a{
	text-align: right;
	text-decoration: none;
	color: #FFF;
	float: right;
	margin-right: 20px;
}

header h1 {
	margin-bottom: 0;
	margin-top: 25px;
	margin-left: 17%;
	color: white;
}

nav {
	position: fixed;
	background-color: #273236;
	height: 100%;
	width: 15%;
}
#logo{
	background-color: #1F2A30;
	width: 100%;
	height: 15%;
	color: white;
	float: right;
}
#logo h2{
	display: inline;
}

nav li a {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 30px;
	color: #FFF;
	margin-bottom: 10px;	
	line-height: 30px;
	padding-left: 10px;
}

nav li a:hover{
	background-color: #63757F;
}

main {
	margin-left: 17%;
	padding-top: 10%;
}

section {
	margin-bottom: 40px;
	color: #333E44;
}

#global {
	margin: 0;
}

.clear {
	clear: both;
}

input[type=submit], input[type=reset]{
	border: none;
	width: 200px;
	color: #FFF;
	background-color: #28323A;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 0;
	height: 30px;
	border-radius: 5px;
}

input[type=radio], input[type=checkbox] {
	width: 30px;
	height: 20px;
}

form label {
	margin-bottom: 5px;
	display: inline-block;
}

form input {
	margin-bottom: 15px;
	display: inline-block;
	width: 400px;
	height: 30px;
	font-size: 20px;
	border: none;
}

form fieldset {
	padding: 15px;
}

form textarea {
	width: 400px;
	min-width: 200px;
	border: none;
}

form select {
	width: 150px;
	margin-bottom: 15px;
}