*{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	box-sizing:border-box;
	font-family: "arial";
}

p {
	margin: 10px 10px 10px 0;
}

body {
	/*background-color: #EBEFF2;*/
}

header {
	background: url('../img/background.png') repeat;
	position: fixed;
	width: calc(100% - 15%);
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	top: 0;
	right: 0;
}

header a{
	text-decoration: none;
	color: #FFF;
}

header h1 {
	color: white;
	cursor: default;
	webkit-user-select: none;
}

nav {
	position: fixed;
	background: url('../img/background.png') repeat;
	height: 100%;
	width: 15%;
	left: 0;
	z-index: 999999999;
}

#logo{
	background-color: #1F2A30;
	width: 100%;
	height: 80px;
	color: white;
	float: right;
}

#logo h2{
	display: inline;
}

nav li a {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 30px;
	color: #FFF;
	margin-bottom: 10px;
	line-height: 30px;
	padding-left: 10px;
}

nav li a:hover {
	background-color: #63757F;
}

#corpo {
	padding-left: 15%;
	display: block;
	position: relative;
	top: 80px;
	overflow: hidden;
}

#corpo .content {
	padding: 20px;
}

section {
	margin-bottom: 40px;
	color: #333E44;
}

nav section {
	margin-bottom: 10px;
}

#global {
	margin: 0;
}

.clear {
	clear: both;
}
input[type=file]{
	border:none;
    display: inline-block;
    cursor: pointer;
}
input[type=submit], input[type=reset]{
	border: none;
	width: 200px;
	color: #FFF;
	background-color: #28323A;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 0;
	height: 30px;
	border-radius: 5px;
}

input.campo{
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 300px;
	color: #333E44;
	font-size: 15px;
	padding: 15px;
	height: 30px;
}

input[type=radio], input[type=checkbox] {
	width: 30px;
	height: 20px;
}

form label {
	margin-bottom: 5px;
	display: inline-block;
}

form input {
	margin-bottom: 15px;
	display: inline-block;
	width: 400px;
	height: 30px;
	font-size: 20px;
	border: none;
	border: 1px solid #ccc;
}

form fieldset {
	padding: 15px;
}

form textarea {
	width: 400px;
	min-width: 200px;
	border: none;
	border: 1px solid #ccc;
}
form select, form select option {
	margin-bottom: 15px;
	display: inline-block;
	width: 400px;
	height: 30px;
	font-size: 20px;
	border: none;
	border: 1px solid #ccc;
}
.informativo{
	display: -webkit-flex;
    display: flex;
   -webkit-flex-wrap: wrap;
}

.informativo li{
	
	width: 400px;
	flex-grow: 1;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	color: white;
	text-align: center;
	float:  left;
	background: url('../img/background.png') repeat;
}
.informativo img{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.informativo a {
	color: white;
	text-decoration: none;
}
.informativo h2{
	margin-top: 10px;
}

fieldset {
	margin-bottom: 20px;
}

.botao {
	border: none;
	width: 200px;
	color: #FFF;
	background-color: #28323A;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 0;
	height: 30px;
	border-radius: 5px;
	float: left;
	cursor: pointer;
	margin-right: 5px;
}

.profile .foto {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.profile {
	height: 80px;
    display: flex;
    align-items: center;
}

.profile:hover .dropdown{
	display: block !important;
}

.profile .dropdown {
    display: none;
	position: absolute;
    top: 80px;
    right: 20px;
    background: #567FA3;
    min-width: 50px;
    padding: 5px;
    border-radius: 0 0 3px 3px;
}

.profile .dropdown a {
	display: block;
	overflow: hidden;
    padding: 5px 5px;
    text-decoration: none;
}
.programa{
	display: -webkit-flex;
    display: flex;
   -webkit-flex-wrap: wrap;
}
.programa li{
	text-align: center;
	background: url('../img/background.png') repeat;
	color: white;
	width: 400px;
	flex-grow: 1;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.programa img{
	margin-top: 20px;
	width: 70px;
	margin-bottom: 20px
}
.programa img#novo{
	margin-top: calc((50% - 70px)/2);
}
.programa a {
	color: white;
	text-decoration: none;
	width: 100%;
}
.tabela{
	width: 100%;
	text-align: center;
}
.tabela th{
	background: url('../img/background.png') repeat;
	height: 40px;
	color: white;
}
.tabela table, td, th{
	border: 1px solid black;
}
.tabela td{
	vertical-align: bottom;
}

.selecao {
	display: -webkit-flex;
    display: flex;
   -webkit-flex-wrap: wrap;
}
.selecao li {
	text-align: center;
	background: url('../img/background.png') repeat;
	color: white;
	flex-grow: 1;
	width: 400px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.selecao li.encerrado{
	background: url('../img/backInativo.png') repeat;
}
.selecao img{
	width: 70px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.selecao img#novo{
	margin-top: calc((50% - 120px)/2);
}
.selecao h2{
	margin-top: 20px;
}
.selecao a {
	color: white;
	text-decoration: none;
	width: 100%;
}