*{
	margin: 0;
	padding: 0;
	border: nome;
	list-style: nome;
	text-decoration: none;
	box-sizing:border-box;
}
body { 
	background-color: #273238;
}

p {
	margin: 5px auto;
	text-align: left;
	display: inline-block;
}

input{
	display: block;
	height: 20px;
	padding: 0;
}

input[type=submit] {
	border: none;
	width: 300px;
	color: #FFF;
	background-color: #28323A;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 0;
	height: 30px;
	border-radius: 5px;
}
input.campo{
	border: none;
	width: 300px;
	color: #333E44;
	font-size: 15px;
	padding: 5px 0;
	height: 30px;
}
#logo{
	background-color: #333E44;
	height: 96px;
}

#login {
	width: 450px;
	background-color: #FFF;
	margin: 80px auto;
	text-align: center;
}
#login section#telas{
	color: red;
	background-color: red;
	font-size: 10px;
}

a {
	font-size: 10px;
	text-decoration: none;
	color: #333E44;
}
