body {
	background-color: #273238;
}

p {
	margin: 5px auto;
	text-align: left;
	display: inline-block;
}

#logo{
	height: 100px;
}

#login {
	width: 450px;
	background-color: #FFF;
	margin: 80px auto;
	text-align: center;
}

#links a{
	text-decoration: none;
	color: #333E44;
	font-size: 10px;
}