*{
	margin: 0;
	padding: 0;
	border: nome;
	list-style: nome;
	text-decoration: none;
	box-sizing:border-box;
}
body { 
	background-color: #273238;
}

h3 {
	color: #333E44;
}

p {
	margin: 5px auto;
	text-align: left;
	display: inline-block;
}

a{
	display: block;
	height: 20px;
	border: none;
	width: 300px;
	color: #FFF;
	background-color: #28323A;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 0;
	height: 30px;
	border-radius: 5px;
	text-align: center;
}

#logo{
	background-color: #333E44;
	height: 96px;
}

#login {
	width: 450px;
	background-color: #FFF;
	margin: 80px auto;
	text-align: center;
}

