body {
	background-color: #273238;
}

p {
	margin: 5px auto;
	text-align: left;
	display: inline-block;
}

h3 {
	color: #333E44;
}

#logo{
	height: 100px;
}

#login {
	width: 450px;
	background-color: #FFF;
	margin: 80px auto;
	text-align: center;
}
